@import "defs";

body {
  margin: 0;
  background: $background;
  font-family: Helvetica LT Std, Helvetica, Arial, Lato, Open sans, sans-serif;
}

.project-bar {
  position: fixed;
	width: 440px;
  height: 100%;
  z-index: 99;
  background: $grey1;
  -webkit-user-select: none;
  border-right: 2px solid #242424;

  * {
  	cursor: default;
  }

  nav {
  	height: 90px;
  	overflow: hidden;
  	background: #333;
  	border-bottom: 2px solid #242424;

  	a {
  		color: #b8b8b8;
  		text-decoration: none;
  		display: block;
  		font-size: 54px;
  		width: 90px;
  		height: 90px;
  		text-align: center;
  		line-height: 90px;
  		transition: 0.2s;
  	}
  	a:hover {
  		background: #444;
  	}
  }

  ul.project-list {
  	margin: 0;
  	padding: 0;

  	h2 {
  		font-weight: 400;
  		margin: 0;
  		color: #d7d7d7;
  		font-size: 24px;
  	}

  	.cap {
  		color: #828282;
  		font-size: 18px;
  	}

  }

  li {
  	display: block;
  	position: relative;
  	list-style-type: none;
  	width: 100%;
  	height: 115px;
  	box-sizing: border-box;
  	padding: 36px;
  	border-bottom: 2px solid #242424;
  	border-top: 2px solid #4e4e4e;
  	border-right: 2px solid #4e4e4e;
    transition: 0.2s all;

  	.arrow {
  		position: absolute;
  		top: 42px;
  		right: 28px;
  		font-size: 32px;
  		color: #d7d7d7;
  	}
  }
  li:first-of-type {
  	border-top: none;
  }
  li:hover {
    background: #4c4c4c;
  }

  li.active {
  	background: #596887;

  	h2 {
  		color: #fff;
  	}

  	.cap {
  		color: #a9c0e7;
  	}
  }
}

.current-project {
	box-sizing: border-box;
	color: #232323;

	.border {
		padding: 40px 40px 40px 500px;
		height: 100%;
		box-sizing: border-box;
		position: absolute;
		width: 100%;
	}

	.edit {
		position: absolute;
		width: 53px;
		height: 53px;
		top: 40px;
		right: 40px;
		background: url("../media/edit.png") center center no-repeat;
	}

	h1 {
		font-size: 32px;
		font-weight: 400;
		margin: 0 0 0.25em 0;
	}
	.date {
		margin: 0;
		font-size: 16px;
		color: #595959;
	}

	.module-wrapper {

		.module {
			float: left;
      position: relative;
			width: 285px;
			height: 285px;
			background: black;
			border-radius: 5px;
			margin: 40px 40px 40px 0;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #252525));
			border: 2px solid #000;
      transition: 0.2s all;

      .module-status {
        position: absolute;
        width: 32px;
        height: 32px;
        right: 16px;
        top: 16px;
        background: url("../media/module-inactive.svg") center center no-repeat;
      }
		}

    .module:hover {
      opacity: 0.8;
    }

		.module-active {
      //Default active.
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #53b87d), color-stop(1, #00a171));
      border-color: #009165;

      .module-status {
        background: url("../media/module-active.svg") center center no-repeat;
      }
		}

	}

}
