app/.sass-cache/*
app/node_modules/*
app/node-webkit/app/assets/css/*
app/node-webkit/app/assets/js/concat/*
app/node-webkit/app/assets/js/build/*
app/node-webkit/locales/*
app/node-webkit/icudtl.dat
app/node-webkit/libffmpegsumo.so
app/node-webkit/nw
app/node-webkit/nw.pak
