.current-project {
  .module-wrapper {
    .module-sass-active {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D457A8), color-stop(1, #7F3766));
      border-color: #610e44;
      color: #fff;
    }
  }
}
